.tituloFormulario {
    font-family: Jost;
    text-align: center;
}

.formulario {
    border-color: black;
    border-radius: 1px;
    border-style: solid;
}

.inputMarca {
    margin-left: 820px;
}

.inputModelo {
    margin-left: 810px;
}

.inputColor {
    margin-left: 827px;
}

.btnEnviar {
    margin-left: 905px;
}

.btnActualizar {
    margin-left: 886px;
    margin-top: 5px;
}