.tituloFormulario {
    font-family: Jost;
    text-align: center;
}

.formulario {
    border-color: black;
    border-radius: 1px;
    border-style: solid;
}

.inputMarca {
    margin-left: 800px;
}

.inputModelo {
    margin-left: 789px;
}

.inputColor {
    margin-left: 805px;
}

.btnEnviar {
    margin-left: 904px;
}

.btnActualizar {
    margin-left: 890px;
    margin-top: 5px;
}