    <form action="" id="formulario">
        <div class="row">
            <div class="col-6 offset-3 ">
                <label for="marcaVehiculo">Marca</label>
                <input type="text" name="" id="marcaVehiculo" required>
            </div>
            <div class="col-6 offset-3 ">
                <label for="modeloVehiculo">Modelo</label>
                <input type="text" name="" id="modeloVehiculo" required>
            </div>
            <div class="col-6 offset-3 ">
                <label for="colorVehiculo">Color</label>
                <input type="text" name="" id="colorVehiculo" required>
            </div>
            <div class="col-6 offset-3 ">
                <button type="submit" class="btn btn-info">Enviar alta</button>
            </div>
            <div class="col-6 offset-3 ">
                <button type="button" class="btn btn-info">Buscar listado de altas</button>
            </div>
        </div>
    </form>
