    <form action="" id="formulario">
        <div class="row">
            <div class="col-6 offset-3">
                <h3 class="tituloFormulario">Formulario</h3>
            </div>
            <div class="col-6 offset-3 inputMarca">
                <label for="marcaVehiculo">Marca</label>
                <input type="text" name="" id="marcaVehiculo" required>
            </div>
            <div class="col-6 offset-3 inputModelo">
                <label for="modeloVehiculo">Modelo</label>
                <input type="text" name="" id="modeloVehiculo" required>
            </div>
            <div class="col-6 offset-3 inputColor">
                <label for="colorVehiculo">Color</label>
                <input type="text" name="" id="colorVehiculo" required>
            </div>
            <div class="col-6 offset-3 btnEnviar">
                <button type="submit" class="btn btn-info">Enviar alta</button>
            </div>
            <div class="col-6 offset-3 btnActualizar">
                <button type="button" class="btn btn-info" id="botonListado">Mostrar listado</button>
            </div>
        </div>
    </form>
